/*------------------------------------*    $Grid
    Based on the 12 column nestable Foundation Grid:
    http://foundation.zurb.com/docs/components/grid.html
\*------------------------------------*/
.--columns_grid_wrap,
.--columns_grid {
  overflow: hidden;
}
.--columns_grid {
  list-style: none;
  margin: 0 -1em;
}
.--columns_grid * {
  box-sizing: border-box;
}
.l_column {
  float: left;
  position: relative;
  padding: 0 1em 2em;
}
.l_column img {
  max-width: 100%;
  height: auto;
  ms-interpolation-mode: bicubic;
}
