/*------------------------------------*    $Units
\*------------------------------------*/
/*------------------------------------*    $Imports
\*------------------------------------*/
@media (min-width: ) {
  .--columns__1 {
    width: 8.3333333333333%;
  }
  .--columns__2 {
    width: 16.6666666666667%;
  }
  .--columns__3 {
    width: 25%;
  }
  .--columns__4 {
    width: 33.3333333333333%;
  }
  .--columns__5 {
    width: 41.6666666666667%;
  }
  .--columns__6 {
    width: 50%;
  }
  .--columns__7 {
    width: 58.3333333333333%;
  }
  .--columns__8 {
    width: 66.6666666666667%;
  }
  .--columns__9 {
    width: 75%;
  }
  .--columns__10 {
    width: 83.3333333333333%;
  }
  .--columns__11 {
    width: 91.6666666666667%;
  }
  .--columns__12 {
    width: 100%;
  }
}
@media (min-width: ) {
  .--columns__1 {
    width: 8.3333333333333%;
  }
  .--columns__2 {
    width: 16.6666666666667%;
  }
  .--columns__3 {
    width: 25%;
  }
  .--columns__4 {
    width: 33.3333333333333%;
  }
  .--columns__5 {
    width: 41.6666666666667%;
  }
  .--columns__6 {
    width: 50%;
  }
  .--columns__7 {
    width: 58.3333333333333%;
  }
  .--columns__8 {
    width: 66.6666666666667%;
  }
  .--columns__9 {
    width: 75%;
  }
  .--columns__10 {
    width: 83.3333333333333%;
  }
  .--columns__11 {
    width: 91.6666666666667%;
  }
  .--columns__12 {
    width: 100%;
  }
}
@media (min-width: ) {
  .--columns__1 {
    width: 8.3333333333333%;
  }
  .--columns__2 {
    width: 16.6666666666667%;
  }
  .--columns__3 {
    width: 25%;
  }
  .--columns__4 {
    width: 33.3333333333333%;
  }
  .--columns__5 {
    width: 41.6666666666667%;
  }
  .--columns__6 {
    width: 50%;
  }
  .--columns__7 {
    width: 58.3333333333333%;
  }
  .--columns__8 {
    width: 66.6666666666667%;
  }
  .--columns__9 {
    width: 75%;
  }
  .--columns__10 {
    width: 83.3333333333333%;
  }
  .--columns__11 {
    width: 91.6666666666667%;
  }
  .--columns__12 {
    width: 100%;
  }
}
@media (min-width: ) {
  .--columns__1 {
    width: 8.3333333333333%;
  }
  .--columns__2 {
    width: 16.6666666666667%;
  }
  .--columns__3 {
    width: 25%;
  }
  .--columns__4 {
    width: 33.3333333333333%;
  }
  .--columns__5 {
    width: 41.6666666666667%;
  }
  .--columns__6 {
    width: 50%;
  }
  .--columns__7 {
    width: 58.3333333333333%;
  }
  .--columns__8 {
    width: 66.6666666666667%;
  }
  .--columns__9 {
    width: 75%;
  }
  .--columns__10 {
    width: 83.3333333333333%;
  }
  .--columns__11 {
    width: 91.6666666666667%;
  }
  .--columns__12 {
    width: 100%;
  }
}
@media (min-width: ) {
  .--columns__1 {
    width: 8.3333333333333%;
  }
  .--columns__2 {
    width: 16.6666666666667%;
  }
  .--columns__3 {
    width: 25%;
  }
  .--columns__4 {
    width: 33.3333333333333%;
  }
  .--columns__5 {
    width: 41.6666666666667%;
  }
  .--columns__6 {
    width: 50%;
  }
  .--columns__7 {
    width: 58.3333333333333%;
  }
  .--columns__8 {
    width: 66.6666666666667%;
  }
  .--columns__9 {
    width: 75%;
  }
  .--columns__10 {
    width: 83.3333333333333%;
  }
  .--columns__11 {
    width: 91.6666666666667%;
  }
  .--columns__12 {
    width: 100%;
  }
}
.--columns_grid_wrap,
.--columns_grid {
  overflow: hidden;
}
.--columns_grid {
  list-style: none;
  margin: 0 -1em;
  zoom: 1;
}
.--columns_grid:before,
.--columns_grid:after {
  content: "";
  display: table;
}
.--columns_grid:after {
  clear: both;
}
.--columns_grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l_column {
  float: left;
  position: relative;
  padding: 0 1em 2em;
}
.l_column img {
  max-width: 100%;
  height: auto;
  ms-interpolation-mode: bicubic;
}
/*------------------------------------*    $Vendor-Prefixes
    if 
\*------------------------------------*/
/*********************************
$Global: Layout
**********************************/
html {
  height: 100%;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
blockquote,
dd,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video {
  position: relative;
}
.inactive {
  display: none;
}
.invisible {
  visibility: hidden;
}
input,
select {
  border: 1px solid greyMedium;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: greyDark;
  height: heightForm;
}
.button {
  background: -o-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -ms-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -webkit-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -moz-linear-gradient(0deg, #39c 0%, #069 100%);
  background: linear-gradient(90deg, #39c 0%, #069 100%);
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: block;
  height: heightForm;
  font-weight: 500;
  font-size: 15px;
  width: 30%;
}
header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: backgroundHeaderZIndex;
}
header #lz-header-Content {
  position: absolute;
  z-index: contentHeaderZIndex;
  left: 0;
  right: 0;
}
header #lz-header-Content #lz-header-Logo {
  position: relative;
}
header #lz-header-Content #lz-header-Logo .logo {
  margin-left: 0;
  margin-right: 0;
}
.lzgraph {
  position: relative;
  z-index: lzgraphZIndex;
}
.logo .lz-logo-desktop,
.logo .lz-logo-tablet,
.logo .lz-logo-phone {
  position: relative;
  z-index: contentHeaderZIndex;
}
.canvas {
  z-index: 64;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
