/*------------------------------------*    $Units
\*------------------------------------*/
/*------------------------------------*    $Imports
\*------------------------------------*/
body {
  color: #222;
}
hr {
  border-color: #292929;
}
h5,
h6 {
  color: #5e5e5e;
}
.content h1 {
  color: #222;
}
body {
  font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  background: #fff;
  color: #222;
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-left: 0;
}
img {
  border: 0;
}
a,
a.link-block .link {
  color: #218bc3;
  text-decoration: none;
}
a {
  border: none;
  color: aColor;
  text-decoration: none;
  font-weight: wNormal;
}
a:hover {
  text-decoration: underline;
}
a:hover,
a.link-block .link:hover {
  color: #0b2e40;
  transition: all ease-in-out 0.1s;
}
a.black {
  color: #222;
}
a.black:hover {
  color: #218bc3;
  transition: all ease-in-out 0.1s;
}
a.link-block {
  display: block;
  color: #222;
  text-decoration: none;
}
a:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: hColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr {
  position: relative;
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 10px 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  display: block;
}
h1,
h2 {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
  -webkit-font-feature-settings: "kern", "liga", "case";
/* No variation */
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
/* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "kern", "liga", "case";
/* Firefox 15.0 onwards */
  font-feature-settings: "kern", "liga", "case";
/* No variation */
}
h1,
h2,
h6 {
  font-weight: 300;
}
h2 {
  font-size: 40px;
}
h3,
h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}
h4 {
  font-size: 16px;
  font-weight: 300;
}
h5,
h6 {
  font-weight: 400;
  font-size: 14px;
}
hr {
  top: -7px;
  margin: -1px 0 20px 0;
  border: none;
  border-top: 1px #000 solid;
}
.lead-in {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
article ul {
  padding-left: 1em;
  margin-bottom: 1em;
}
article ol li {
  list-style: decimal;
}
.content h1 {
  left: -3px;
/* Optical left-edge alignment */
}
.page-title {
  margin-top: 100px;
}
@media screen and (desktop) {
  .content-frame .sidebar h3 {
    font-size: 40px;
  }
}
@media screen and (tablet) {
  .page-title {
    margin-top: 80px;
  }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    display: inline;
  }
  .content h1 {
    font-size: 50px;
    left: -2px;
/* Optical left-edge alignment */
  }
}
.content h2,
.content .sidebar h3 {
  font-size: 36px;
  line-height: 1.2;
}
.content h3 {
  font-size: 20px;
}
@media screen and (phone) {
  .page-title {
    margin-top: 40px;
  }
  .content h1 {
    font-size: 34px;
    left: -2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .background-clip .content .texture-1 {
    background: #fff;
    background: #fff url("h1--background-1");
  }
  .background-clip .content .texture-2 {
    background: #fff url("h1--background-2");
  }
  .background-clip .content .texture-3 {
    background: #fff url("h1--background-3");
  }
  .background-clip .content .texture-4 {
    background: #fff url("h1--background-4");
  }
  .background-clip .content .texture-1,
  .background-clip .content .texture-2,
  .background-clip .content .texture-3 {
    text-fill-color: transparent;
    background-clip: text;
/* Optical left-edge alignment */
  }
}
.content h2,
.content .sidebar h3 {
  font-size: 30px;
  line-height: 1.2;
}
.lead-in {
  font-size: 18px;
  font-weight: 300;
}
blockquote {
  font-style: italic;
}
p {
  font-size: sizeNormal;
  font-weight: wnormal;
  text-align: justify;
  color: pColor;
}
a.rss {
  text-indent: -2000em;
  direction: ltr;
  overflow: hidden;
  display: inline-block;
  width: 30px;
  height: 20px;
  font-size: 6px;
  border-left: 1px solid #ddd;
  margin-left: 10px;
  background: url("../images/icons/icon-sprite.png") no-repeat 10px -80px;
  background-image: url("../images/icons/icon-sprite.svg");
  vertical-align: middle;
}
a.twitter-user {
  vertical-align: middle;
}
a.twitter-user:before {
  content: ".";
  display: inline-block;
  text-indent: -2000em;
  direction: ltr;
  width: 20px;
  height: 20px;
  background: url("../images/icons/icon-sprite.png") no-repeat 0 -20px;
  background-image: url("../images/icons/icon-sprite.svg");
  margin-right: 5px;
  vertical-align: middle;
}
.--columns_grid_wrap,
.--columns_grid {
  overflow: hidden;
}
.--columns_grid {
  list-style: none;
  margin: 0 -1em;
  zoom: 1;
}
.--columns_grid:before,
.--columns_grid:after {
  content: "";
  display: table;
}
.--columns_grid:after {
  clear: both;
}
.--columns_grid * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.l_column {
  float: left;
  position: relative;
  padding: 0 1em 2em;
}
.l_column img {
  max-width: 100%;
  height: auto;
  ms-interpolation-mode: bicubic;
}
/*------------------------------------*    $Vendor-Prefixes
    if 
\*------------------------------------*/
/*********************************
$Global: Layout
**********************************/
html {
  height: 100%;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
blockquote,
dd,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video {
  position: relative;
}
.inactive {
  display: none;
}
.invisible {
  visibility: hidden;
}
input,
select {
  border: 1px solid greyMedium;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: greyDark;
  height: heightForm;
}
.button {
  background: -o-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -ms-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -webkit-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -moz-linear-gradient(0deg, #39c 0%, #069 100%);
  background: linear-gradient(90deg, #39c 0%, #069 100%);
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: block;
  height: heightForm;
  font-weight: 500;
  font-size: 15px;
  width: 30%;
}
header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: backgroundHeaderZIndex;
}
header #lz-header-Content {
  position: absolute;
  z-index: contentHeaderZIndex;
  left: 0;
  right: 0;
}
header #lz-header-Content #lz-header-Logo {
  position: relative;
}
header #lz-header-Content #lz-header-Logo .logo {
  margin-left: 0;
  margin-right: 0;
}
.lzgraph {
  position: relative;
  z-index: lzgraphZIndex;
}
.logo .lz-logo-desktop,
.logo .lz-logo-tablet,
.logo .lz-logo-phone {
  position: relative;
  z-index: contentHeaderZIndex;
}
.canvas {
  z-index: 64;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
