body {
  color: #222;
}
hr {
  border-color: #292929;
}
h5,
h6 {
  color: #5e5e5e;
}
.content h1 {
  color: #222;
}
body {
  font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.4;
  background: #fff;
  color: #222;
  margin: 0;
  min-width: 100%;
  height: 100%;
  padding-left: 50px;
  padding-left: 0;
}
img {
  border: 0;
}
a,
a.link-block .link {
  color: #218bc3;
  text-decoration: none;
}
a {
  border: none;
  color: #444;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  text-decoration: underline;
}
a:hover,
a.link-block .link:hover {
  color: #0b2e40;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
a.black {
  color: #222;
}
a.black:hover {
  color: #218bc3;
  -webkit-transition: all ease-in-out 0.1s;
  -moz-transition: all ease-in-out 0.1s;
  -o-transition: all ease-in-out 0.1s;
  -ms-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}
a.link-block {
  display: block;
  color: #222;
  text-decoration: none;
}
a:focus {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #39c;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
hr {
  position: relative;
  font-size: inherit;
  line-height: inherit;
  margin: 0 0 10px 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span {
  display: block;
}
h1,
h2 {
  font-size: 60px;
  line-height: 1em;
  margin-bottom: 20px;
  -webkit-font-feature-settings: "kern", "liga", "case";
/* No variation */
  -moz-font-feature-settings: "kern=1", "liga=1", "case=1";
/* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings: "kern", "liga", "case";
/* Firefox 15.0 onwards */
  font-feature-settings: "kern", "liga", "case";
/* No variation */
}
h1,
h2,
h6 {
  font-weight: 300;
}
h2 {
  font-size: 40px;
}
h3,
h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 300;
}
h4 {
  font-size: 16px;
  font-weight: 300;
}
h5,
h6 {
  font-weight: 400;
  font-size: 14px;
}
hr {
  top: -7px;
  margin: -1px 0 20px 0;
  border: none;
  border-top: 1px #000 solid;
}
.lead-in {
  font-weight: 300;
  font-size: 22px;
  line-height: 1.5;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
article ul {
  padding-left: 1em;
  margin-bottom: 1em;
}
article ol li {
  list-style: decimal;
}
.content h1 {
  left: -3px;
/* Optical left-edge alignment */
}
.page-title {
  margin-top: 100px;
}
@media screen and (desktop) {
  .content-frame .sidebar h3 {
    font-size: 40px;
  }
}
@media screen and (tablet) {
  .page-title {
    margin-top: 80px;
  }
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    display: inline;
  }
  .content h1 {
    font-size: 50px;
    left: -2px;
/* Optical left-edge alignment */
  }
}
.content h2,
.content .sidebar h3 {
  font-size: 36px;
  line-height: 1.2;
}
.content h3 {
  font-size: 20px;
}
@media screen and (phone) {
  .page-title {
    margin-top: 40px;
  }
  .content h1 {
    font-size: 34px;
    left: -2px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .background-clip .content .texture-1 {
    background: #fff;
    background: #fff url("../images/text-texture-1.jpg");
  }
  .background-clip .content .texture-2 {
    background: #fff url("../images/text-texture-2.jpg");
  }
  .background-clip .content .texture-3 {
    background: #fff url("../images/text-texture-3.jpg");
  }
  .background-clip .content .texture-1,
  .background-clip .content .texture-2,
  .background-clip .content .texture-3 {
    text-fill-color: transparent;
    -webkit-background-clip: text;
/* Optical left-edge alignment */
  }
}
.content h2,
.content .sidebar h3 {
  font-size: 30px;
  line-height: 1.2;
}
.lead-in {
  font-size: 18px;
  font-weight: 300;
}
blockquote {
  font-style: italic;
}
p {
  font-size: 1rem;
  font-weight: wnormal;
  text-align: justify;
  color: #666;
}
a.rss {
  text-indent: -2000em;
  direction: ltr;
  overflow: hidden;
  display: inline-block;
  width: 30px;
  height: 20px;
  font-size: 6px;
  border-left: 1px solid #ddd;
  margin-left: 10px;
  background: url("../images/icons/icon-sprite.png") no-repeat 10px -80px;
  background-image: url("../images/icons/icon-sprite.svg");
  vertical-align: middle;
}
a.twitter-user {
  vertical-align: middle;
}
a.twitter-user:before {
  content: ".";
  display: inline-block;
  text-indent: -2000em;
  direction: ltr;
  width: 20px;
  height: 20px;
  background: url("../images/icons/icon-sprite.png") no-repeat 0 -20px;
  background-image: url("../images/icons/icon-sprite.svg");
  margin-right: 5px;
  vertical-align: middle;
}
@media screen and (min-width: 35.5em) {
  .lz-grid-sm-1,
  .lz-grid-sm-1-1,
  .lz-grid-sm-1-2,
  .lz-grid-sm-1-3,
  .lz-grid-sm-2-3,
  .lz-grid-sm-1-4,
  .lz-grid-sm-3-4,
  .lz-grid-sm-1-5,
  .lz-grid-sm-2-5,
  .lz-grid-sm-3-5,
  .lz-grid-sm-4-5,
  .lz-grid-sm-5-5,
  .lz-grid-sm-1-6,
  .lz-grid-sm-5-6,
  .lz-grid-sm-1-8,
  .lz-grid-sm-3-8,
  .lz-grid-sm-5-8,
  .lz-grid-sm-7-8,
  .lz-grid-sm-1-12,
  .lz-grid-sm-5-12,
  .lz-grid-sm-7-12,
  .lz-grid-sm-11-12,
  .lz-grid-sm-1-24,
  .lz-grid-sm-2-24,
  .lz-grid-sm-3-24,
  .lz-grid-sm-4-24,
  .lz-grid-sm-5-24,
  .lz-grid-sm-6-24,
  .lz-grid-sm-7-24,
  .lz-grid-sm-8-24,
  .lz-grid-sm-9-24,
  .lz-grid-sm-10-24,
  .lz-grid-sm-11-24,
  .lz-grid-sm-12-24,
  .lz-grid-sm-13-24,
  .lz-grid-sm-14-24,
  .lz-grid-sm-15-24,
  .lz-grid-sm-16-24,
  .lz-grid-sm-17-24,
  .lz-grid-sm-18-24,
  .lz-grid-sm-19-24,
  .lz-grid-sm-20-24,
  .lz-grid-sm-21-24,
  .lz-grid-sm-22-24,
  .lz-grid-sm-23-24,
  .lz-grid-sm-24-24 {
    display: inline-block;
    *display: inline;
    letter-spacing: normal;
    text-rendering: auto;
    vertical-align: top;
    word-spacing: normal;
    zoom: 1;
  }
  .lz-grid-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .lz-grid-sm-1-12,
  .lz-grid-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .lz-grid-sm-1-8,
  .lz-grid-sm-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .lz-grid-sm-1-6,
  .lz-grid-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .lz-grid-sm-1-5 {
    width: 20%;
    *width: 19.969%;
  }
  .lz-grid-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .lz-grid-sm-1-4,
  .lz-grid-sm-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .lz-grid-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .lz-grid-sm-1-3,
  .lz-grid-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .lz-grid-sm-3-8,
  .lz-grid-sm-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .lz-grid-sm-2-5 {
    width: 40%;
    *width: 39.969%;
  }
  .lz-grid-sm-5-12,
  .lz-grid-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .lz-grid-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .lz-grid-sm-1-2,
  .lz-grid-sm-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .lz-grid-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .lz-grid-sm-7-12,
  .lz-grid-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .lz-grid-sm-3-5 {
    width: 60%;
    *width: 59.969%;
  }
  .lz-grid-sm-5-8,
  .lz-grid-sm-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .lz-grid-sm-2-3,
  .lz-grid-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .lz-grid-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .lz-grid-sm-3-4,
  .lz-grid-sm-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .lz-grid-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .lz-grid-sm-4-5 {
    width: 80%;
    *width: 79.969%;
  }
  .lz-grid-sm-5-6,
  .lz-grid-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .lz-grid-sm-7-8,
  .lz-grid-sm-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .lz-grid-sm-11-12,
  .lz-grid-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .lz-grid-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .lz-grid-sm-1,
  .lz-grid-sm-1-1,
  .lz-grid-sm-5-5,
  .lz-grid-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .lz-grid-md-1,
  .lz-grid-md-1-1,
  .lz-grid-md-1-2,
  .lz-grid-md-1-3,
  .lz-grid-md-2-3,
  .lz-grid-md-1-4,
  .lz-grid-md-3-4,
  .lz-grid-md-1-5,
  .lz-grid-md-2-5,
  .lz-grid-md-3-5,
  .lz-grid-md-4-5,
  .lz-grid-md-5-5,
  .lz-grid-md-1-6,
  .lz-grid-md-5-6,
  .lz-grid-md-1-8,
  .lz-grid-md-3-8,
  .lz-grid-md-5-8,
  .lz-grid-md-7-8,
  .lz-grid-md-1-12,
  .lz-grid-md-5-12,
  .lz-grid-md-7-12,
  .lz-grid-md-11-12,
  .lz-grid-md-1-24,
  .lz-grid-md-2-24,
  .lz-grid-md-3-24,
  .lz-grid-md-4-24,
  .lz-grid-md-5-24,
  .lz-grid-md-6-24,
  .lz-grid-md-7-24,
  .lz-grid-md-8-24,
  .lz-grid-md-9-24,
  .lz-grid-md-10-24,
  .lz-grid-md-11-24,
  .lz-grid-md-12-24,
  .lz-grid-md-13-24,
  .lz-grid-md-14-24,
  .lz-grid-md-15-24,
  .lz-grid-md-16-24,
  .lz-grid-md-17-24,
  .lz-grid-md-18-24,
  .lz-grid-md-19-24,
  .lz-grid-md-20-24,
  .lz-grid-md-21-24,
  .lz-grid-md-22-24,
  .lz-grid-md-23-24,
  .lz-grid-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .lz-grid-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .lz-grid-md-1-12,
  .lz-grid-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .lz-grid-md-1-8,
  .lz-grid-md-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .lz-grid-md-1-6,
  .lz-grid-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .lz-grid-md-1-5 {
    width: 20%;
    *width: 19.969%;
  }
  .lz-grid-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .lz-grid-md-1-4,
  .lz-grid-md-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .lz-grid-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .lz-grid-md-1-3,
  .lz-grid-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .lz-grid-md-3-8,
  .lz-grid-md-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .lz-grid-md-2-5 {
    width: 40%;
    *width: 39.969%;
  }
  .lz-grid-md-5-12,
  .lz-grid-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .lz-grid-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .lz-grid-md-1-2,
  .lz-grid-md-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .lz-grid-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .lz-grid-md-7-12,
  .lz-grid-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .lz-grid-md-3-5 {
    width: 60%;
    *width: 59.969%;
  }
  .lz-grid-md-5-8,
  .lz-grid-md-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .lz-grid-md-2-3,
  .lz-grid-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .lz-grid-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .lz-grid-md-3-4,
  .lz-grid-md-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .lz-grid-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .lz-grid-md-4-5 {
    width: 80%;
    *width: 79.969%;
  }
  .lz-grid-md-5-6,
  .lz-grid-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .lz-grid-md-7-8,
  .lz-grid-md-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .lz-grid-md-11-12,
  .lz-grid-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .lz-grid-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .lz-grid-md-1,
  .lz-grid-md-1-1,
  .lz-grid-md-5-5,
  .lz-grid-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .lz-grid-lg-1,
  .lz-grid-lg-1-1,
  .lz-grid-lg-1-2,
  .lz-grid-lg-1-3,
  .lz-grid-lg-2-3,
  .lz-grid-lg-1-4,
  .lz-grid-lg-3-4,
  .lz-grid-lg-1-5,
  .lz-grid-lg-2-5,
  .lz-grid-lg-3-5,
  .lz-grid-lg-4-5,
  .lz-grid-lg-5-5,
  .lz-grid-lg-1-6,
  .lz-grid-lg-5-6,
  .lz-grid-lg-1-8,
  .lz-grid-lg-3-8,
  .lz-grid-lg-5-8,
  .lz-grid-lg-7-8,
  .lz-grid-lg-1-12,
  .lz-grid-lg-5-12,
  .lz-grid-lg-7-12,
  .lz-grid-lg-11-12,
  .lz-grid-lg-1-24,
  .lz-grid-lg-2-24,
  .lz-grid-lg-3-24,
  .lz-grid-lg-4-24,
  .lz-grid-lg-5-24,
  .lz-grid-lg-6-24,
  .lz-grid-lg-7-24,
  .lz-grid-lg-8-24,
  .lz-grid-lg-9-24,
  .lz-grid-lg-10-24,
  .lz-grid-lg-11-24,
  .lz-grid-lg-12-24,
  .lz-grid-lg-13-24,
  .lz-grid-lg-14-24,
  .lz-grid-lg-15-24,
  .lz-grid-lg-16-24,
  .lz-grid-lg-17-24,
  .lz-grid-lg-18-24,
  .lz-grid-lg-19-24,
  .lz-grid-lg-20-24,
  .lz-grid-lg-21-24,
  .lz-grid-lg-22-24,
  .lz-grid-lg-23-24,
  .lz-grid-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .lz-grid-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .lz-grid-lg-1-12,
  .lz-grid-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .lz-grid-lg-1-8,
  .lz-grid-lg-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .lz-grid-lg-1-6,
  .lz-grid-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .lz-grid-lg-1-5 {
    width: 20%;
    *width: 19.969%;
  }
  .lz-grid-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .lz-grid-lg-1-4,
  .lz-grid-lg-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .lz-grid-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .lz-grid-lg-1-3,
  .lz-grid-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .lz-grid-lg-3-8,
  .lz-grid-lg-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .lz-grid-lg-2-5 {
    width: 40%;
    *width: 39.969%;
  }
  .lz-grid-lg-5-12,
  .lz-grid-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .lz-grid-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .lz-grid-lg-1-2,
  .lz-grid-lg-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .lz-grid-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .lz-grid-lg-7-12,
  .lz-grid-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .lz-grid-lg-3-5 {
    width: 60%;
    *width: 59.969%;
  }
  .lz-grid-lg-5-8,
  .lz-grid-lg-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .lz-grid-lg-2-3,
  .lz-grid-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .lz-grid-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .lz-grid-lg-3-4,
  .lz-grid-lg-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .lz-grid-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .lz-grid-lg-4-5 {
    width: 80%;
    *width: 79.969%;
  }
  .lz-grid-lg-5-6,
  .lz-grid-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .lz-grid-lg-7-8,
  .lz-grid-lg-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .lz-grid-lg-11-12,
  .lz-grid-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .lz-grid-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .lz-grid-lg-1,
  .lz-grid-lg-1-1,
  .lz-grid-lg-5-5,
  .lz-grid-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .lz-grid-x1-1,
  .lz-grid-x1-1-1,
  .lz-grid-x1-1-2,
  .lz-grid-x1-1-3,
  .lz-grid-x1-2-3,
  .lz-grid-x1-1-4,
  .lz-grid-x1-3-4,
  .lz-grid-x1-1-5,
  .lz-grid-x1-2-5,
  .lz-grid-x1-3-5,
  .lz-grid-x1-4-5,
  .lz-grid-x1-5-5,
  .lz-grid-x1-1-6,
  .lz-grid-x1-5-6,
  .lz-grid-x1-1-8,
  .lz-grid-x1-3-8,
  .lz-grid-x1-5-8,
  .lz-grid-x1-7-8,
  .lz-grid-x1-1-12,
  .lz-grid-x1-5-12,
  .lz-grid-x1-7-12,
  .lz-grid-x1-11-12,
  .lz-grid-x1-1-24,
  .lz-grid-x1-2-24,
  .lz-grid-x1-3-24,
  .lz-grid-x1-4-24,
  .lz-grid-x1-5-24,
  .lz-grid-x1-6-24,
  .lz-grid-x1-7-24,
  .lz-grid-x1-8-24,
  .lz-grid-x1-9-24,
  .lz-grid-x1-10-24,
  .lz-grid-x1-11-24,
  .lz-grid-x1-12-24,
  .lz-grid-x1-13-24,
  .lz-grid-x1-14-24,
  .lz-grid-x1-15-24,
  .lz-grid-x1-16-24,
  .lz-grid-x1-17-24,
  .lz-grid-x1-18-24,
  .lz-grid-x1-19-24,
  .lz-grid-x1-20-24,
  .lz-grid-x1-21-24,
  .lz-grid-x1-22-24,
  .lz-grid-x1-23-24,
  .lz-grid-x1-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }
  .lz-grid-x1-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }
  .lz-grid-x1-1-12,
  .lz-grid-x1-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }
  .lz-grid-x1-1-8,
  .lz-grid-x1-3-24 {
    width: 12.5%;
    *width: 12.469%;
  }
  .lz-grid-x1-1-6,
  .lz-grid-x1-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }
  .lz-grid-x1-1-5 {
    width: 20%;
    *width: 19.969%;
  }
  .lz-grid-x1-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }
  .lz-grid-x1-1-4,
  .lz-grid-x1-6-24 {
    width: 25%;
    *width: 24.969%;
  }
  .lz-grid-x1-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }
  .lz-grid-x1-1-3,
  .lz-grid-x1-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }
  .lz-grid-x1-3-8,
  .lz-grid-x1-9-24 {
    width: 37.5%;
    *width: 37.469%;
  }
  .lz-grid-x1-2-5 {
    width: 40%;
    *width: 39.969%;
  }
  .lz-grid-x1-5-12,
  .lz-grid-x1-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }
  .lz-grid-x1-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }
  .lz-grid-x1-1-2,
  .lz-grid-x1-12-24 {
    width: 50%;
    *width: 49.969%;
  }
  .lz-grid-x1-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }
  .lz-grid-x1-7-12,
  .lz-grid-x1-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }
  .lz-grid-x1-3-5 {
    width: 60%;
    *width: 59.969%;
  }
  .lz-grid-x1-5-8,
  .lz-grid-x1-15-24 {
    width: 62.5%;
    *width: 62.469%;
  }
  .lz-grid-x1-2-3,
  .lz-grid-x1-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }
  .lz-grid-x1-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }
  .lz-grid-x1-3-4,
  .lz-grid-x1-18-24 {
    width: 75%;
    *width: 74.969%;
  }
  .lz-grid-x1-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }
  .lz-grid-x1-4-5 {
    width: 80%;
    *width: 79.969%;
  }
  .lz-grid-x1-5-6,
  .lz-grid-x1-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }
  .lz-grid-x1-7-8,
  .lz-grid-x1-21-24 {
    width: 87.5%;
    *width: 87.469%;
  }
  .lz-grid-x1-11-12,
  .lz-grid-x1-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }
  .lz-grid-x1-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }
  .lz-grid-x1-1-1,
  .lz-grid-x1-1,
  .lz-grid-x1-5-5,
  .lz-grid-x1-24-24 {
    width: 100%;
  }
}
.lzgraphics {
  width: 100%;
  top: 0;
}
.lzgraphics > lzgraphics {
  display: block;
}
.lzgraphics .left {
  position: fixed;
  left: 0;
  top: 0;
}
.lzgraphics .right {
  position: fixed;
  right: 0;
  top: 0;
}
.lzgraphics .top {
  margin: 0 auto;
}
@media screen and (max-width: 48em) {
  .lzgraph {
    display: none;
  }
  .home .content-frame {
    background: #fff url("../images/home/bg.png") 100% 0 no-repeat;
  }
}
@media screen and (max-width: 64em) {
  .home .content-frame {
    background: #fff;
  }
}
.lz-button {
/* Structure */
  display: inline-block;
  *display: inline;
/*IE 6/7*/
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lz-button {
  font-family: inherit;
  font-size: 100%;
  *font-size: 90%;
/*IE 6/7 - To reduce IE's oversized button text*/
  *overflow: visible;
/*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding: 0.5em 1em;
  color: #444;
/* rgba not supported (IE 8) */
  color: rgba(0,0,0,0.8);
/* rgba supported */
  *color: #444;
/* IE 6 & 7 */
  border: 1px solid #999;
/*IE 6/7/8*/
  border: none rgba(0,0,0,0);
/*IE9 + everything else*/
  background-color: #e6e6e6;
  text-decoration: none;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.lz-button-hover,
.lz-button:hover,
.lz-button:focus {
  background-image: -webkit-linear-gradient(top, #fff, #000);
  background-image: -moz-linear-gradient(top, #fff, #000);
  background-image: -o-linear-gradient(top, #fff, #000);
  background-image: -ms-linear-gradient(top, #fff, #000);
  background-image: linear-gradient(to bottom, #fff, #000);
}
.lz-button:focus {
  outline: 0;
}
.lz-button-active,
.lz-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset, 0 0 6px rgba(0,0,0,0.2) inset;
}
.lz-button[disabled],
.lz-button-disabled,
.lz-button-disabled:hover,
.lz-button-disabled:focus,
.lz-button-disabled:active {
  border: none;
  background-image: none;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.lz-button-hidden {
  display: none;
}
.lz-button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
.lz-button-primary,
.lz-button-selected,
a.lz-button-primary,
a.lz-button-selected {
  background-color: #0078e7;
  color: #fff;
}
.lz-form button,
.lz-form input {
  font-family: 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
}
.lz-form button input[type="submit"] {
  background-color: 'black';
  color: 'black';
  padding: 5px 10px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.lz-form input[type="submit"] {
  background-color: 'black';
  color: 'black';
  padding: 5px 10px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.lz-form button:hover,
.lz-form input[type="submit"]:hover {
  background-color: #1d7bad;
}
.lz-form input[type="text"],
.lz-form input[type="password"],
.lz-form input[type="email"],
.lz-form input[type="url"],
.lz-form input[type="date"],
.lz-form input[type="month"],
.lz-form input[type="time"],
.lz-form input[type="datetime"],
.lz-form input[type="datetime-local"],
.lz-form input[type="week"],
.lz-form input[type="number"],
.lz-form input[type="search"],
.lz-form input[type="tel"],
.lz-form input[type="color"],
.lz-form select,
.lz-form textarea {
  padding: 5px 5px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lz-form .content button,
.lz-form .content input[type="submit"] {
  background-color: #218bc3;
  color: #fff;
  padding: 5px 10px;
  border: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.content button:hover,
.content input[type="submit"]:hover {
  background-color: #1d7bad;
}
input[type="color"] {
  padding: 0.2em 0.5em;
}
input[type="text"]:focus input[type="password"]:focus,
input[type="text"]:focus input[type="email"]:focus,
input[type="text"]:focus input[type="url"]:focus,
input[type="text"]:focus input[type="date"]:focus,
input[type="text"]:focus input[type="month"]:focus,
input[type="text"]:focus input[type="time"]:focus,
input[type="text"]:focus input[type="datetime"]:focus,
input[type="text"]:focus input[type="datetime-local"]:focus,
input[type="text"]:focus input[type="week"]:focus,
input[type="text"]:focus input[type="number"]:focus,
input[type="text"]:focus input[type="search"]:focus,
input[type="text"]:focus input[type="tel"]:focus,
input[type="text"]:focus input[type="color"]:focus,
input[type="text"]:focus select:focus,
input[type="text"]:focus textarea:focus {
  outline: 0;
  outline: thin dotted 9;
/* IE6-9 */
  border-color: #129fea;
}
.lz-form input:not([type]):focus {
  outline: 0;
  outline: thin dotted 9;
/* IE6-9 */
  border-color: #129fea;
}
.lz-form input[type="file"]:focus,
.lz-form input[type="radio"]:focus,
.lz-form input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 1px auto #129fea;
}
.lz-form .lz-checkbox,
.lz-form .lz-radio {
  margin: 0.5em 0;
  display: block;
}
.lz-form input[type="text"][disabled],
.lz-form input[type="password"][disabled],
.lz-form input[type="email"][disabled],
.lz-form input[type="url"][disabled],
.lz-form input[type="date"][disabled],
.lz-form input[type="month"][disabled],
.lz-form input[type="time"][disabled],
.lz-form input[type="datetime"][disabled],
.lz-form input[type="datetime-local"][disabled],
.lz-form input[type="week"][disabled],
.lz-form input[type="number"][disabled],
.lz-form input[type="search"][disabled],
.lz-form input[type="tel"][disabled],
.lz-form input[type="color"][disabled],
.lz-form select[disabled],
.lz-form textarea[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.lz-form input:not([type])[disabled] {
  cursor: not-allowed;
  background-color: #eaeded;
  color: #cad2d3;
}
.lz-form input[readonly],
.lz-form select[readonly],
.lz-form textarea[readonly] {
  background: #eee;
/* menu hover bg color */
  color: #777;
/* menu text color */
  border-color: #ccc;
}
.lz-form input:focus:invalid,
.lz-form textarea:focus:invalid,
.lz-form select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}
.lz-form input:focus:invalid:focus,
.lz-form textarea:focus:invalid:focus,
.lz-form select:focus:invalid:focus {
  border-color: #e9322d;
}
.lz-form input[type="file"]:focus:invalid:focus,
.lz-form input[type="radio"]:focus:invalid:focus,
.lz-form input[type="checkbox"]:focus:invalid:focus {
  outline-color: #e9322d;
}
.lz-form select {
  border: 1px solid #ccc;
  background-color: #fff;
}
.lz-form select[multiple] {
  height: auto;
}
.lz-form label {
  margin: 0.5em 0 0.2em;
}
.lz-form fieldset {
  margin: 0;
  padding: 0.35em 0 0.75em;
  border: 0;
}
.lz-form legend {
  display: block;
  width: 100%;
  padding: 0.3em 0;
  margin-bottom: 0.3em;
  color: #333;
  border-bottom: 1px solid #e5e5e5;
}
.lz-form-stacked input[type="text"],
.lz-form-stacked input[type="password"],
.lz-form-stacked input[type="email"],
.lz-form-stacked input[type="url"],
.lz-form-stacked input[type="date"],
.lz-form-stacked input[type="month"],
.lz-form-stacked input[type="time"],
.lz-form-stacked input[type="datetime"],
.lz-form-stacked input[type="datetime-local"],
.lz-form-stacked input[type="week"],
.lz-form-stacked input[type="number"],
.lz-form-stacked input[type="search"],
.lz-form-stacked input[type="tel"],
.lz-form-stacked input[type="color"],
.lz-form-stacked select,
.lz-form-stacked label,
.lz-form-stacked textarea {
  display: block;
  margin: 0.25em 0;
}
.lz-form-stacked input:not([type]) {
  display: block;
  margin: 0.25em 0;
}
.lz-form-aligned input,
.lz-form-aligned textarea,
.lz-form-aligned select,
.lz-form-aligned .lz-help-inline,
.lz-form-message-inline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
.lz-form-aligned textarea {
  vertical-align: top;
}
.lz-form-aligned .lz-control-group {
  margin-bottom: 0.5em;
}
.lz-form-aligned .lz-control-group label {
  text-align: right;
  display: inline-block;
  vertical-align: middle;
  width: 10em;
  margin: 0 1em 0 0;
}
.lz-form-aligned .lz-controls {
  margin: 1.5em 0 0 10em;
}
.lz-form input.lz-input-rounded,
.lz-form .lz-input-rounded {
  -webkit-border-radius: 2em;
  border-radius: 2em;
  padding: 0.5em 1em;
}
.lz-form .lz-group fieldset {
  margin-bottom: 10px;
}
.lz-form .lz-group input {
  display: block;
  padding: 10px;
  margin: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  position: relative;
  top: -1px;
}
.lz-form .lz-group input:focus {
  z-index: 2;
}
.lz-form .lz-group input:first-child {
  top: 1px;
  -webkit-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
}
.lz-form .lz-group input:last-child {
  top: -2px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
.lz-form .lz-group button {
  margin: 0.35em 0;
}
.lz-form .lz-input-1 {
  width: 100%;
}
.lz-form .lz-input-2-3 {
  width: 66%;
}
.lz-form .lz-input-1-2 {
  width: 50%;
}
.lz-form .lz-input-1-3 {
  width: 33%;
}
.lz-form .lz-input-1-4 {
  width: 25%;
}
.lz-form .lz-help-inline,
.lz-form-message-inline {
  display: inline-block;
  padding-left: 0.3em;
  color: #666;
  vertical-align: middle;
  font-size: 0.875em;
}
.lz-form-message {
  display: block;
  color: #666;
  font-size: 0.875em;
}
@media only screen and (phone) {
  .lz-form button[type="submit"] {
    margin: 0.7em 0 0;
  }
}
.lz-form input:not([type]),
.lz-form input[type="text"],
.lz-form input[type="password"],
.lz-form input[type="email"],
.lz-form input[type="url"],
.lz-form input[type="date"],
.lz-form input[type="month"],
.lz-form input[type="time"],
.lz-form input[type="datetime"],
.lz-form input[type="datetime-local"],
.lz-form input[type="week"],
.lz-form input[type="number"],
.lz-form input[type="search"],
.lz-form input[type="tel"],
.lz-form input[type="color"],
.lz-form label {
  margin-bottom: 0.3em;
  display: block;
}
.lz-group input:not([type]),
.lz-group input[type="text"],
.lz-group input[type="password"],
.lz-group input[type="email"],
.lz-group input[type="url"],
.lz-group input[type="date"],
.lz-group input[type="month"],
.lz-group input[type="time"],
.lz-group input[type="datetime"],
.lz-group input[type="datetime-local"],
.lz-group input[type="week"],
.lz-group input[type="number"],
.lz-group input[type="search"],
.lz-group input[type="tel"],
.lz-group input[type="color"] {
  margin-bottom: 0;
}
.lz-form-aligned .lz-control-group label {
  margin-bottom: 0.3em;
  text-align: left;
  display: block;
  width: 100%;
}
.lz-form-aligned .lz-controls {
  margin: 1.5em 0 0 0;
}
.lz-form .lz-help-inline,
.lz-form-message-inline,
.lz-form-message {
  display: block;
  font-size: 0.75em;
/* Increased bottom padding to make it group with its related input element. */
  padding: 0.2em 0 0.8em;
}
/*********************************
  Global: Layout
**********************************/
html {
  height: 100%;
}
* {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
blockquote,
dd,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video {
  position: relative;
}
.inactive {
  display: none;
}
.invisible {
  visibility: hidden;
}
input,
select {
  border: 1px solid #bbb;
  background-color: #fff;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #444;
  height: 45px;
}
.button {
  background: -o-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -ms-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -webkit-linear-gradient(0deg, #39c 0%, #069 100%);
  background: -moz-linear-gradient(0deg, #39c 0%, #069 100%);
  background: linear-gradient(90deg, #39c 0%, #069 100%);
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: block;
  height: 45px;
  font-weight: 500;
  font-size: 15px;
  width: 30%;
}
header {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 12;
}
header #lz-header-Content {
  position: absolute;
  z-index: 16;
  left: 0;
  right: 0;
}
header #lz-header-Content #lz-header-Logo {
  position: relative;
}
header #lz-header-Content #lz-header-Logo .logo {
  margin-left: 0;
  margin-right: 0;
}
.lzgraph {
  position: relative;
  z-index: -16;
}
.logo .lz-logo-desktop,
.logo .lz-logo-tablet,
.logo .lz-logo-phone {
  position: relative;
  z-index: 16;
}
.canvas {
  z-index: 64;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
