.lz-button
  /* Structure */
  display inline-block
  *display inline
  /*IE 6/7*/
  zoom 1
  line-height normal
  white-space nowrap
  vertical-align baseline
  text-align center
  cursor pointer
  user-select none

/*csslint outline-none:false*/
.lz-button
  font-family inherit
  font-size 100%
  *font-size 90%
  /*IE 6/7 - To reduce IE's oversized button text*/
  *overflow visible
  /*IE 6/7 - Because of IE's overly large left/right padding on buttons */
  padding 0.5em 1em
  color #444
  /* rgba not supported (IE 8) */
  color rgba(0, 0, 0, 0.80)
  /* rgba supported */
  *color #444
  /* IE 6 & 7 */
  border 1px solid #999
  /*IE 6/7/8*/
  border none rgba(0, 0, 0, 0)
  /*IE9 + everything else*/
  background-color #E6E6E6
  text-decoration none
  border-radius 2px

.lz-button-hover
.lz-button:hover
.lz-button:focus
  background-image linear-gradient(top, white, black)

.lz-button:focus
  outline: 0

.lz-button-active,
.lz-button:active
  box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset

.lz-button[disabled]
.lz-button-disabled
.lz-button-disabled:hover
.lz-button-disabled:focus
.lz-button-disabled:active
  border none
  background-image none
  opacity 0.40
  cursor not-allowed
  box-shadow none

.lz-button-hidden
  display none

/* Firefox: Get rid of the inner focus border */
.lz-button::-moz-focus-inner
  padding 0
  border 0

.lz-button-primary
.lz-button-selected
a.lz-button-primary
a.lz-button-selected
  background-color rgb(0, 120, 231)
  color: #fff

