/*------------------------------------*\
    $Grid
    Based on the 12 column nestable Foundation Grid:
    http://foundation.zurb.com/docs/components/grid.html
\*------------------------------------*/

@import '../units'

// Function grid
// ---------


grid(name = '$bp-1', columns = 12)
  // Iterate through our columns
  for count in (1.. columns)
    // Turn each column count to a percentage: i.e. 1/12
    percentWidth = 1% * ((count / columns) * 100)
    // Column name for the width
      .--columns_{name}_{count}
        @media name
          width percentWidth
          &:after
            display: table;
            content: " ";
            clear: both;
            *zoom: 1;

// Function Breakpoints
//.......

grid('bp-1')

@media bp-1

  grid('bp-2')

@media bp-2

  grid('bp-3')

@media $bp-3

  grid('bp-4')

@media bp-4

  grid('$bp-5')

@media bp-5

  grid('bp-5')


// Styles
// ------

.--columns_grid_wrap,
.--columns_grid
  overflow hidden

.--columns_grid
  list-style none
  margin 0 -1em
  clearfix()

  *
    box-sizing border-box

.l_column
  float left
  position relative
  padding 0 1em 2em

  img
    max-width 100%
    height auto
    ms-interpolation-mode bicubic