/*********************************
  Global Typography
**********************************/

body
  color: #222



hr
  border-color: #292929

h5,
h6
  color: #5e5e5e

.content h1
  color: #222

/*Global text*/

body
  font-family 'open-sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
  font-weight 300
  font-size 15px
  line-height 1.4
  background #fff
  color #222
  margin 0
  min-width 100%
  height 100%
  padding-left 50px
  padding-left 0

img
  border 0
  
/*Link Text Style*/

a
a.link-block .link
  color: #218bc3
  text-decoration: none

a
  border none
  color aColor
  text-decoration none
  font-weight wNormal
  &:hover
    text-decoration underline
    
a:hover
a.link-block .link:hover
  color: #0b2e40
  transition: all ease-in-out 0.1s

a.black
  color: #222

a.black:hover
  color: #218bc3
  transition: all ease-in-out 0.1s

a.link-block
  display: block
  color: #222
  text-decoration: none

a.orange
  hover-col(OrangeOscuro, wNormal, underline)

a.green
  hover-col(verdeOscuro, wNormal, underline)

a.blue
  hover-col(azulClaro, wNormal, underline)

a.inactive
  hover-col(verdeOscuro, wNormal, line-through)

a:focus
  outline none
  
/* color and font atributes of Titles*/

h1
h2
h3
h4
h5
h6
  color hColor

/*Contet Style*/

h1
h2
h3
h4
h5
h6
p
ul
ol
hr
  position relative
  font-size inherit
  line-height inherit
  margin 0 0 10px 0


/* Titles Style */
h1
h2
h3
h4
h5
  font-family 'brandon-grotesque', 'Helvetica Neue', Helvetica, Arial, sans-serif
  text-transform uppercase
  font-weight 500
  


h1 span
h2 span
h3 span
h4 span
h5 span
  display block

h1
h2
  font-size 60px
  line-height 1em
  margin-bottom 20px
  -webkit-font-feature-settings "kern", "liga", "case"
  /* No variation */
  -moz-font-feature-settings "kern=1", "liga=1", "case=1"
  /* Firefox 4.0 to 14.0 */
  -moz-font-feature-settings "kern", "liga", "case"
  /* Firefox 15.0 onwards */
  font-feature-settings "kern", "liga", "case"
  /* No variation */

h1
h2
h6
  font-weight 300

h2
  font-size 40px

h3
h4
  font-size 24px
  line-height 1.2
  font-weight 300

h4
  font-size 16px
  font-weight 300

h5
h6
  font-weight 400
  font-size 14px

hr
  top -7px
  margin -1px 0 20px 0
  border none
  border-top 1px #000 solid

.lead-in // inicial
  font-weight 300
  font-size 22px
  line-height 1.5

ul
  padding 0
  margin 0

li
  list-style none

article ul
  padding-left 1em
  margin-bottom 1em

article ol li
  list-style decimal

.content h1
  left -3px
  
  /* Optical left-edge alignment */

.page-title
  margin-top 100px

@media screen and (desktop)
  .content-frame .sidebar h3
    font-size 40px

@media screen and (tablet)
  .page-title
    margin-top 80px

  h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span
    display inline

  .content h1
    font-size 50px
    left -2px
    /* Optical left-edge alignment */

.content h2
.content .sidebar h3
    font-size 36px
    line-height 1.2

  .content h3
    font-size 20px

@media screen and (phone)
  .page-title
    margin-top 40px

  .content h1
    font-size 34px
    left -2px
    
@media screen and (-webkit-min-device-pixel-ratio: 0)
  .background-clip .content .texture-1
    background: #fff
    background: #fff url(h1--background-1)

  .background-clip .content .texture-2
    background: #fff url(h1--background-2)

  .background-clip .content .texture-3
    background: #fff url(h1--background-3)

  .background-clip .content .texture-4
    background: #fff url(h1--background-4)

  .background-clip .content .texture-1
  .background-clip .content .texture-2
  .background-clip .content .texture-3
    text-fill-color: transparent
    background-clip: text
    /* Optical left-edge alignment */

.content h2
.content .sidebar h3
    font-size 30px
    line-height 1.2

  .lead-in
    font-size 18px
    font-weight 300

/*blockquote Style*/

blockquote
  font-style italic

/* Paragraph Style*/

p
  font-size sizeNormal
  font-weight wnormal
  text-align justify
  color pColor
  
/*********************************
  RSS and Follow
*********************************/
a.rss
  text-indent: -2000em
  direction: ltr
  overflow: hidden
  display: inline-block
  width: 30px
  height: 20px
  font-size: 6px
  border-left: 1px solid #ddd
  margin-left: 10px
  background: url(../images/icons/icon-sprite.png) no-repeat 10px -80px
  background-image: url(../images/icons/icon-sprite.svg)
  vertical-align: middle

a.twitter-user
  vertical-align: middle

a.twitter-user:before
  content: "."
  display: inline-block
  text-indent: -2000em
  direction: ltr
  width: 20px
  height: 20px
  background: url(../images/icons/icon-sprite.png) no-repeat 0 -20px
  background-image: url(../images/icons/icon-sprite.svg)
  margin-right: 5px
  vertical-align: middle
  

  // recuerda cambiar los background de esta ultima seccion por caracteres svg de los iconos