/*------------------------------------*\
   $Grid-Function
   works as any grid, but doesn't make any
   mess in the final code. 
\*------------------------------------*/
* 
  zoom: 
  
if columns > 0
  columns = columns
else
  columns = 12
  
grid(count, mediaq, columns = 12)
  // Iterate through our columns
    @media mediaq
    percentWidth = 1% * ((count / columns) * 100)
    // Column name for the width
      width percentWidth
      overflow hidden
        &:after
          display: flex
          content: " "
          clear: both
          
/*------------------------------------*\
    $Grid- functions
\*------------------------------------*/
@require '../grid'
  
smartphone(rows-width)
  @media bp-smartphone
    grid(rows-width, bp-smartphone, columns)
    clearfix()
    visibility visible !important

smartphone__landscape(rows-width)
  @media bp-smartphone__portrait
    visibility hidden

  @media bp-smartphone__landscape
    grid(rows-width, bp-smartphone__landscape, columns)
    clearfix()
    visibility visible !important
    
  
smartphone__portrait(rows-width)
  @media bp-smartphone__landscape
    visibility hidden

  @media bp-smartphone__portrait
    grid(rows-width, bp-smartphone__portrait, columns)
    clearfix()
    visibility visible !important

tablet(rows-width)
  @media bp-smartphone
    visibility hidden
    
  @media bp-tablet
    grid(rows-width, bp-tablet, columns)
    clearfix()
    visibility visible !important

tablet__landscape(rows-width)
  @media bp-smartphone
  @media bp-tablet__portrait
    visibility hidden

  @media tablet__landscape
    grid(rows-width, bp-tablet__landscape, columns)
    clearfix()
    visibility visible !important

tablet__portrait(rows-width)
  @media bp-smartphone
  @media bp-tablet__landscape
    visibility hidden

  @media tablet__portrait
    grid(rows-width, bp-tablet__portrait, columns)
    clearfix()
    visibility visible !important

desktop(rows-width)
  @media bp-smartphone
  @media bp-tablet
    visibility hidden

  @media desktop
    grid(rows-width, bp-desktop, columns)
    clearfix()
    visibility visible !important

giants(rows-width)
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
    visibility hidden
        
  @media giants 
    grid(rows-width, bp-giants, columns)
    clearfix()
    visibility visible !important


printable(rows-width)
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media giants
    visibility hidden
  
  @media printable
    visibility visible !important


speech(rows-width)
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media giants
    visibility hidden
    
  @media speech
    visibility visible !important

    

/*------------------------------------*\
    $Grid-visible-only-on
\*------------------------------------*/



smartphone--only()
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media giants
    visibility hidden

  @media smartphone
    grid(rows-width, bp-smartphone, columns)
    clearfix()
    visibility visible !important   
  
smartphone__landscape--only()
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media giants
    visibility hidden

  @media smartphone__landscape
    grid(rows-width, bp-smartphone__landscape, columns)
    clearfix()
    visibility visible !important 
  
smartphone__portrait--only()
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media giants
    visibility hidden

  @media smartphone__portrait
    grid(rows-width, bp-smartphone__portrait, columns)
    clearfix()
    visibility visible !important 
  
tablet--only()
  @media bp-smartphone
  @media bp-tablet
  @media printable
  @media bp-desktop
  @media giants
    visibility hidden
bp-
  @media tablet
    grid(rows-width, bp-tablet, columns)
bp-    clearfix()
    visibility visible !important 
  
tablet__landscape--only()
  @media bp-smartphone
  @media bp-tablet
  @media printable  
  @media bp-desktop
  @media giants
    visibility hidden
bp-
  @media tablet__landscape
    grid(rows-width, bp-bp-tablet__landscape, columns)
bp-    clearfix()
    visibility visible !important 
  
tablet__portrait--only()
  @media bp-smartphone
  @media bp-tablet
  @media printable
  @media bp-desktop
  @media giants
    visibility hidden
bp-
  @media tablet__portrait
    grid(rows-width, bp-bp-tablet__portrait, columns)
bp-    clearfix()
    visibility visible !important 
  
desktop--only()
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media printable
  @media giants
    visibility hidden
  
  @media desktobp-p
    grid(rows-width, bp-desktop, columns)
    clearfix()
    visibility bp-visible !important
    
  
giants--only()
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media giants
    visibility hidden

  @media giants
    grid(rows-width, bp-giants, columns)
    clearfix()
    visibility visible !important  
  
printable--only()
  @media bp-smartphone
  @media bp-tablet
  @media bp-desktop
  @media bp-giants
    visibility hidden

  @media bp-printable
    visibility visible !important
    