/*------------------------------------*\
    $Grid
    works as the 12 column nestable Foundation Grid BUT not in the:
    http://foundation.zurb.com/docs/components/grid.html
\*------------------------------------*/

@require '../../units'
@require './function'
@import 'bp-1'
@import 'bp-2'
@import 'bp-3'
@import 'bp-4'
@import 'bp-5'
/*------------------------------------*\
    $styles
\*------------------------------------*/


.--columns_grid
  list-style none
  margin 0 -1em
  clearfix()

  *
    box-sizing border-box

.l_column
  float left
  position relative
  padding 0 1em 2em

  img
    max-width 100%
    height auto
    ms-interpolation-mode bicubic
    
* 
  zoom: 1
