/* Smartphones (portrait and landscape) ----------- */
bp-smartphone =	'(min-device-width : 320px) and (max-device-width : 480px)'
/* Smartphones (landscape) ----------- */
bp-smartphone__landscape =	'(min-width : 321px)'
/* Smartphones (portrait) ----------- */
bp-smartphone__portrait  =	'(max-width : 320px)'
/* tablets (portrait and landscape) ----------- */
bp-tablet =	'(min-device-width : 768px) and (max-device-width : 1024px)'
/* tablets (landscape) ----------- */
bp-tablet__landscape =	'(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)'
/* tablets (portrait) ----------- */
bp-tablet__portrait  =	'(min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)'
/* Desktops and laptops ----------- */
bp-desktop =	'(min-width : 1224px)'
/* Large screens ----------- */
bp-giants =	'(min-width : 1824px)'
/* Print --------------------*/
bp-printable =	'print'