/* iPhone 4 			----------- */
	iPhone4--landscape 			=	'screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)' 
	iPhone4--portrait			=	'screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)'


/* iPhone 5 			----------- */
	iPhone5--landscape 			=	'screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)'
	iPhone5--portrait			=	'screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)'


/* iPhone 6 			----------- */
	iPhone6--landscape 			=	'screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)'
	iPhone6--portrait			=	'screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)'


/* iPhone 6+ 			----------- */
	iPhone6plus--landscape 		=	'screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)'
	iPhone6plus--portrait		=	'screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)'


/* Samsung Galaxy S3 	----------- */
	galaxy--landscape 			=	'screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2)'
	galaxy--portrait			=	'screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2)'


/* Samsung Galaxy S4 	----------- */
	galaxy--landscape 			=	'screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)'
	galaxy--portrait			=	'screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)'


/* Samsung Galaxy S5 	----------- */
	galaxy--landscape 			=	'screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3)'
	galaxy--portrait			=	'screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3)'
	
/* Ipad 3				----------- */
	ipad3--landscape			=	'screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2)' 
	ipad3--portrait				=	'screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2)'	

