// Columnus
// ===========

// Based on the 12 column nestable Foundation Grid:
// http://foundation.zurb.com/docs/components/grid.html
// -----------------------------------------------------------------------------

// Imports

.mobile // the div will be visible in all medias.

.mobile-only // whe div will be visible only in mobile.
	
.tablet // the div will be visible in tablets and desktop but no in mobile.
	
.tablet-only // the div will be visible only in tablets.

.desktop // the content will be visible only in desktop.
	
.print // the content will be visible only in printed media.
	
.speech // the content will be rendered for speech synthesizers.