/*------------------------------------*\
    $Units
\*------------------------------------*/

// This file is the base of the project :)
// Anything you changue in this file will generate
// big changues in your final CSS

/*------------------------------------*\
    $Imports
\*------------------------------------*/

// Requires nib, unless you would rather handle the vendor prefixes yourself
@import 'nib'
//Or you may also pick and choose based on the directory structure in ./lib
// 	@import 'nib/gradients'
// 	@import 'nib/overflow'
// 	@import 'nib/normalize'
//	@import 'nib/vendor'
//	@import 'nib/gradients'
@import 'units'
// @import 'components/text'
@import 'components/grid'
// @import 'components/graph'
// @import 'components/buttons'
// @import 'components/forms'

/*------------------------------------*\
    $Vendor-Prefixes
    if 
\*------------------------------------*/
vendor-prefixes = o ms webkit moz official


/*********************************
$Global: Layout
**********************************/

html
  height: 100%

*
  -ms-box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box
  box-sizing: border-box

article,
aside,
blockquote,
dd,
div,
dl,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
noscript,
ol,
output,
p,
pre,
section,
table,
tfoot,
ul,
video
  position: relative

// mixins

hover-col(color, fontw, text-decoration)
	&:hover	
		color color
		font-weight fontw
		text-decoration underline
		
marginToPaddingHor(initialMargin)
	newPadding = (100 - initialMargin)/2
	margin-left 0
	margin-right 0
	padding-left newPadding
	padding-right newPadding

// global clases

.inactive
	display none

.invisible
	visibility hidden

input
select
	border 1px solid greyMedium
	background-color white
	border-radius 5px
	color greyDark
	height heightForm
		
.button
	background linear-gradient(90deg, #3399cc 0%,#006699 100%)
	border none
	border-radius 5px
	color white
	display block
	height heightForm
	font-weight 500
	font-size 15px
	width 30%

header
	left 0
	position fixed
	right 0
	top 0
	z-index backgroundHeaderZIndex
	#lz-header-Content
		position absolute
		z-index contentHeaderZIndex
		left 0
		right 0
		#lz-header-Logo
			position relative
			.logo
				margin-left 0
				margin-right 0

.lzgraph
	position relative
	z-index  lzgraphZIndex
	
.logo
	.lz-logo-desktop
	.lz-logo-tablet
	.lz-logo-phone
		position relative
		z-index contentHeaderZIndex

.canvas
	z-index 64
	width 100vw
	height 100vh
	overflow hidden
	position fixed
	top 0
	left 0
	right 0
	bottom 0
	

