@import 'units'
.lzgraphics
	width 100%
	top 0
	
	& > lzgraphics
		display block
		
	.left
		position fixed
		left 0
		top 0
		
	.right
		position fixed
		right 0
		top 0
		
	.top
		margin 0 auto
		
@media screen and (max-width: phone)
	.lzgraph
		display none
		
	.home .content-frame
		background: #ffffff url(../images/home/bg.png) 100% 0 no-repeat
		
@media screen and (max-width: tablet)
	.home .content-frame
		background: #fff