/*units styl*/


// @media querys

desktop = 80em
tablet 	= 64em
phone 	= 48em

// backgroundColors

Orange	= #fC6634
greyLight = #EEEEEE
greyMedium = #BBBBBB
greyDark = #444444
grisTransparente = rgba(greyDark, .6)
azulClaro = #3399CC
azulOscuro = #006699
verdeClaro = #CCCC33
verdeOscuro = #339933
OrangeClaro = #FFCC33
OrangeOscuro = #FF9933

//Text Colors

pColor = #666666
hColor = #3399cc
aColor = #444

// buttonColors
lzButtonBackgroundColor = 'black'
lzInputBackgroundColor = 'black'
lzButtonColor = 'black'
lzInputColor = 'black'
lzButtonHoverColor = 'black'
lzButtonActiveColor = 'black'
lzButtonDisabledColor = 'white'
lzButtonSelectedColor = '(black, .8)'
lzButtonDisabledColor = 'black'
lzButtonShadow = #000000

// heights

heightHeader = 4rem
heightContentHero = 77vh
heightFooter = 27vh
heightForm = 45px

// sizes

logoSizeWide = 8rem
logoSizeMedium = 3rem
logoSizeNarrow = 2rem
sizeMicro = 0.1rem
sizeTiny = 9px
sizeMini = 0.5rem
sizeSmall = 0.75rem
sizeNormal = 1rem
sizeMedium = 1.25rem
sizeLarge = 1.5rem
sizeExtralarge = 2rem
sizeGiant = 3rem

// font weight

wLight 		= 300
wNormal 	= 400
wBolder 	= 500
wSemiBold 	= 600
wBold 		= 700
wExtraBold 	= 800

//font size

	//@media screen and (min-width: 35.5em)
	//@media screen and (min-width: 48em)
	//@media screen and (min-width: 64em)
	//@media screen and (min-width: 80em)


// z-index

contentHeaderZIndex = 16
lzgraphZIndex = -16
backgroundHeaderZIndex = 12 
contentPZindex = 11
backgroundMain = 10
backgroundFooterZindex = backgroundHeaderZIndex
ribbonZIndex = lzgraphZIndex
footerZIndex = contentHeaderZIndex

//Widths

widthColumnaWide 	= 48vw
widthColumnaNarrow 	= 80vw
widthColumnaMedium 	= 90vw
widthImagesBackgr 	= 100vw
widthParagraph 		= 50%
