/*------------------------------------*\
    $Grid
\*------------------------------------*/

body__columns--number 	= 12

/*------------------------------------*\
    $Media breakpoints
    The breakpoints has been placen in EM,
    so, the zoom doesn't affect design

	You DON'T need device specific breakpoints
	but if you want, there are the specifics below
\*------------------------------------*/

@import '/definitions/breakpoints'
//@import '/definitions/specifics'

/*------------------------------------*\
    $Colors
    in this section you can set colors
    as variables that you can reuse.
	example:
	
	greyLight = #EEEEEE
	greyMedium = #BBBBBB
	greyTranslucid = rgba(greyDark, .6)
	
	and then reuse:
	
	p--color = greyLight
\*------------------------------------*/




/*------------------------------------*\
    $Text
\*------------------------------------*/

//colors

p--Color 				= #666666
text_h--Color 			= #3399cc
text_a--Color 			= #444

// font weight

text_weight--Light 		= 300
text_weight--Normal 	= 400
text_weight--Bolder 	= 500
text_weight--SemiBold 	= 600
text_weight--Bold 		= 700
text_weight--ExtraBold 	= 800

//H1 clip image background
	// for .background-clip .content .texture-1
h1--background-clip-1 	= ('../images/text-texture-1.jpg')
	// for .background-clip .content .texture-2
h1--background-clip-2 	= ('../images/text-texture-2.jpg')
	// for .background-clip .content .texture-3
h1--background-clip-3 	= ('../images/text-texture-3.jpg')
	// for .background-clip .content .texture-4
h1--background-clip-4 	= ('../images/text-texture-4.jpg')


/*------------------------------------*\
    $Button Colors
\*------------------------------------*/

ButtonBackgroundColor 	= 'black'
InputBackgroundColor 	= 'black'
ButtonColor 			= 'black'
InputColor 				= 'black'
ButtonHoverColor 		= 'black'
ButtonActiveColor 		= 'black'
ButtonDisabledColor 	= 'white'
ButtonSelectedColor 	= '(black, .8)'
ButtonDisabledColor 	= 'black'
ButtonShadow 			= 'black'

/*------------------------------------*\
    $Heights
\*------------------------------------*/

Header--height			= 4rem
Content__Hero--height	= 77vh
Footer--height 			= 27vh
Form--height			= 45px

/*------------------------------------*\
    $Sizes
\*------------------------------------*/

logoSizeWide 			= 8rem
logoSizeMedium 			= 3rem
logoSizeNarrow 			= 2rem
sizeMicro 				= 0.1rem
sizeTiny 				= 9px
sizeMini 				= 0.5rem
sizeSmall 				= 0.75rem
sizeNormal 				= 1rem
sizeMedium 				= 1.25rem
sizeLarge 				= 1.5rem
sizeExtralarge 			= 2rem
sizeGiant 				= 3rem

/*------------------------------------*\
    $ZPositions
\*------------------------------------*/

Header__content--ZIndex 	= 16
lzgraph--ZIndex 			= -16
Header__background--ZIndex 	= 12 
index__content--PZ 			= 11
Main__background--Zindex	= 10
Footer__background--Zindex 	= backgroundHeaderZIndex
ribbon__ZIndex 				= lzgraphZIndex
footer__ZIndex 				= contentHeaderZIndex

//Widths

widthColumnaWide 		= 48vw
widthColumnaNarrow 		= 80vw
widthColumnaMedium 		= 90vw
widthImagesBackgr 		= 100vw
widthParagraph 			= 50%
