/* Smartphones (portrait and landscape) ----------- */
bp-smartphone 				=	'screen and (min-device-width : 320px) and (max-device-width : 480px)'
/* Smartphones (landscape) ----------- */
bp-smartphone__landscape 		=	'screen and (min-width : 321px)'
/* Smartphones (portrait) ----------- */
bp-smartphone__portrait 		=	'screen and (max-width : 320px)'
/* tablets (portrait and landscape) ----------- */
bp-tablet 					=	'screen and (min-device-width : 768px) and (max-device-width : 1024px)'
/* tablets (landscape) ----------- */
bp-tablet__landscape 			=	'screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)' 
/* tablets (portrait) ----------- */
bp-tablet__portrait 			=	'screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)'
/* Desktops and laptops ----------- */
bp-desktop 					=	'screen  and (min-width : 1224px)'
/* Large screens ----------- */
bp-giants 					=	'screen  and (min-width : 1824px)'
/* Print --------------------*/
bp-printable 					=	'print'